{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Стиль для фону */
    body {
        background-image: url('{% static selected_image %}');
        background-size: cover; /* Охоплює всю область, зберігаючи пропорції */
        background-position: center; /* Вирівнює фон по центру */
        background-repeat: no-repeat; /* Запобігає повторенню фону */
        height: 100vh; /* Займає всю висоту вікна */
    }

    /* Додатковий стиль для контейнера */
    .flight-details {
        background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий фон для кращої читабельності тексту */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Тінь для об’єму */
        max-width: 600px;
        margin: 0 auto; /* Вирівнює контейнер по центру */
    }

    .flight-name {
        text-align: center;
        margin-bottom: 20px;
    }

    .flight-info p {
        text-align: center;
    }

    .back-form {
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="flight-details">
  <h1 class="flight-name">{{ Airplane.name }}</h1>
  <div class="flight-info">
    <p><strong>Rows:</strong> {{ Airplane.rows }}</p>
    <p><strong>Seats in a row:</strong> {{ Airplane.seats_in_row }}</p>
    <p><strong>Description:</strong> {{ Airplane.description }}</p>
  </div>
  <form action="{% url 'hangar:Airplane-list' %}" method="get" class="back-form">
    <input type="submit" value="Back" class="btn btn-primary">
  </form>
</div>
{% endblock %}
